version: '3.9'

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  airflow-init:
    build:
      context: .
      dockerfile: Dockerfile
    image: de_ecommerce/astro-runtime:local
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://postgres:postgres@postgres:5432/ecommerce_db
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    command: >
      bash -c '
        airflow db migrate &&
        airflow users create --username admin --firstname Admin --lastname User --role Admin --email admin@example.com --password admin || true
      '
    
  airflow-webserver:
    build:
      context: .
      dockerfile: Dockerfile
    image: de_ecommerce/astro-runtime:local
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://postgres:postgres@postgres:5432/ecommerce_db
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__WEBSERVER__RBAC: 'true'
      AIRFLOW__CORE__REMOTE_LOGGING: 'true'
      AIRFLOW__CORE__REMOTE_LOG_CONN_ID: 'minio_default'
      AIRFLOW__CORE__REMOTE_BASE_LOG_FOLDER: 's3://airflow-logs'
      AIRFLOW_CONN_MINIO_DEFAULT: 's3://minioadmin:minioadmin@minio:9000/?endpoint_url=http://minio:9000'
      AIRFLOW_CONN_POSTGRES_DEFAULT: postgresql+psycopg2://postgres:postgres@postgres:5432/ecommerce_db
      DBT_PROFILES_DIR: /opt/airflow/.dbt
    depends_on:
      - postgres
      - minio
      - airflow-init
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./include:/opt/airflow/include
      - ./raw_data:/opt/airflow/raw_data
      - ./dbt:/opt/airflow/dbt
      - ./dbt/profiles.yml:/opt/airflow/.dbt/profiles.yml:ro
      - ./scripts:/opt/airflow/scripts
    command: airflow webserver

  airflow-scheduler:
    build:
      context: .
      dockerfile: Dockerfile
    image: de_ecommerce/astro-runtime:local
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://postgres:postgres@postgres:5432/ecommerce_db
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      AIRFLOW__CORE__REMOTE_LOGGING: 'true'
      AIRFLOW__CORE__REMOTE_LOG_CONN_ID: 'minio_default'
      AIRFLOW__CORE__REMOTE_BASE_LOG_FOLDER: 's3://airflow-logs'
      AIRFLOW_CONN_MINIO_DEFAULT: 's3://minioadmin:minioadmin@minio:9000/?endpoint_url=http://minio:9000'
      AIRFLOW_CONN_POSTGRES_DEFAULT: postgresql+psycopg2://postgres:postgres@postgres:5432/ecommerce_db
      DBT_PROFILES_DIR: /opt/airflow/.dbt
    depends_on:
      - postgres
      - minio
      - airflow-init
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./include:/opt/airflow/include
      - ./raw_data:/opt/airflow/raw_data
      - ./dbt:/opt/airflow/dbt
      - ./dbt/profiles.yml:/opt/airflow/.dbt/profiles.yml:ro
      - ./scripts:/opt/airflow/scripts
    command: airflow scheduler

volumes:
  pgdata:
  minio_data:

